:root {
  --first-color: #ffffff;
  --second-color: #212121;
  --third-color: #757575;
  --accent-color: #2196f3;
  --background-button: #F5F4FA;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-first: #2F303A;
  --background-second: #E5E5E5;
  --logo-color: #000000;
  --hover-color: #188CE8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--second-color);
  --back
}
button {
  cursor: pointer;
  
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}
/* -----------Logo---------------- */
.logo {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.header-logo-first {

color: var(--accent-color);
margin-right: 93px;

}
.header-logo-second {

color: var(--logo-color);

}

.footer-logo-first {

color: var(--accent-color);

}
.footer-logo-second {

color: var(--first-color);

}
/* -----------------Header-------------- */
.current-link {
  color: var(--accent-color);
}
.header {
  background-color: var(--first-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.header-link:hover, .header-link:focus, .current {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--third-color);
}
.header-contacts:focus, .header-contacts:hover {
  color: var(--accent-color);
}
.header-navi {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;

}

.contact-list {
  display: flex;
  margin-left: auto;
}
.header-list {
  display: flex;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.contact-item {
  margin-right: 50px;
}
.contact-item:last-child {
  margin-right: 0px;
}
/*-------------- Main section -------------*/
.main-work {
  background-color: var(--background-first);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  padding-top: 200px;
  padding-left: 200px;
  padding-bottom: 280px;
  padding-right: 200px;
}
.main-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
   letter-spacing: 0.06em;
   border: none;
   border-radius: 4px;
  color: var(--first-color);
  background-color: var(--hover-color);
  cursor: pointer;
}
.main-btn:hover,.main-btn:focus {
    background-color: var(--hover-color);
  color: var(--second-color);
}


/* --------- Features section ---------- */
.features {
  background-color: var(--first-color);
  
}
.features-list {
  display: flex;
}
.features-item:not(:last-child) {
 
}

.features-func {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}


/* ----------- About ------------ */

.about {
  background-color: var(--first-color);
 
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.67;
text-align: center;
letter-spacing: 0.03em;

  color: var(--second-color);
  margin-bottom: 50px;
}

/* --------------- Team ------------- */
.team {
  background-color: var(--background-button);
  margin-top: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--second-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-personal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--third-color);
}

/* -------------- Footer -------------------  */
.footer-main {
  background-color: var(--background-first);
  margin-top: 94px;
}
.footer-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}
.footer-contacts {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contacts-color);
 }
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
  }

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

/* --------------- PORTFOLIO----------------- */

/* -----------------Filter------------------ */
.filter {
  background-color: var(--first-color);
}
.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--background-button);
  color: var(--second-color);
  border: none;
  border-radius: 4px;
}
.filter-btn:hover, .filter-btn:focus {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--first-color);
  border: none;
  
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}
.work-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
